collections:
  projects:
    output: true
    #collections do not output a page by default, so this needs to be explicitly called like above
defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "category"
      sidebar:
        nav: "projects"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "single"
  - scope:
      path: ""
    values:
      layout: "single"
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-include-cache
baseurl: ""
remote_theme: "mmistakes/minimal-mistakes@4.24.0"
minimal_mistakes_skin: "dirt" # "default", "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"
# theme: minima
title: CafedeCube
author: B. C.
header_files:
  - index.html
  - about.md
  - projects.html
  - notes.html
# theme: jekyll-theme-minimal